.button {
  background-color: #666;
  border: 1px solid #666;
  border-radius: 4px;
  color: #eee;
  cursor: pointer;
  display: inline-block;
  font-family: Lato, helvetica, arial, sans-serif;
  font-size: 1rem;
  justify-content: center;
  margin: 0 auto;
  max-width: 256px;
  overflow: hidden;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: background-color 500ms ease, color 500ms ease;
  white-space: nowrap;
  width: 100%;

  &:hover {
    background-color: #333;
    color: #eee;
  }
}
