
html {
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Opens sans", sans-serif;
  font-size: 16px;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.heading {
  font-family: "Roboto Slab", serif;
}

.heading__2 {
  margin-bottom: 20px;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
}

.um_foo__content p {
  margin: 20px 0;
}

img {
  max-width: 100%;
}
