@charset "UTF-8";
/* setjum box-sizing: border-box; á allt */
html {
  /* stylelint-disable-line */
  box-sizing: border-box; }

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

main {
  max-width: 1200px;
  margin: 0 auto; }

html {
  /* stylelint-disable-line */
  margin: 0 auto;
  font-family: 'Opens sans', sans-serif;
  font-size: 16px;
  max-width: 1200px; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  padding-right: 10px;
  padding-left: 10px; }
  .col-12 {
    width: 100%; }
  .col-8 {
    width: 66.66667%; }
  .col-6 {
    width: 50%; }
  .col-4 {
    width: 33.33333%; }
  .col-3 {
    width: 25%; }
  .col-2 {
    width: 25%; }
  @media (max-width: 599px) {
    .col-sm-12 {
      width: 100%; }
    .col-sm-6 {
      width: 50%; } }
  @media (min-width: 1200px) {
    .col-sm-4 {
      width: 33.33333%; } }
  @media (max-width: 600px) {
    .col-sa-12 {
      width: 100%; } }
  @media (max-width: 600px) {
    .col-600-12 {
      width: 100%; }
    .col-600-6 {
      width: 50%; }
    .col-600-3 {
      width: 25%; } }
  @media (max-width: 400px) {
    .col-400-12 {
      width: 100%; }
    .col-400-6 {
      width: 50%; }
    .col-400-3 {
      width: 25%; } }

.offset-2 {
  margin-left: 16.66667%; }

@media (max-width: 599px) {
  .offset-sm-0 {
    margin-left: 0; } }

.button {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 5px;
  border: 1px solid #666;
  border-radius: 4px;
  width: 100%;
  max-width: 256px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #eee;
  background-color: #666;
  font-family: Lato, helvetica, arial, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  transition: background-color 500ms ease, color 500ms ease;
  cursor: pointer; }
  .button:hover {
    color: #eee;
    background-color: #333; }

.heading {
  font-family: 'Roboto Slab', serif; }
  .heading__2 {
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif;
    font-size: 24px; }

.profile {
  width: 360px;
  height: 360px;
  overflow: hidden;
  display: flex;
  margin: 20px;
  border-radius: 50%; }
  .profile__img {
    margin-left: -20px; }

.header__top {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  height: 45px; }

.header__right {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: flex-end;
  margin-right: 40px; }
  @media (min-width: 1200px) {
    .header__right {
      margin-right: 0; } }

.header__left {
  width: 50%;
  display: flex;
  margin-top: 15px; }

.header__text {
  color: white;
  align-self: center;
  text-decoration: none;
  margin: 15px; }

.button__header__text {
  color: white;
  text-decoration: none; }

.button__header {
  background-color: #666;
  padding: 10px 20px 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer; }
  @media (max-width: 400px) {
    .button__header {
      display: none; } }

header {
  max-width: 1200px; }
  @media (max-width: 600px) {
    header {
      margin-bottom: 80px; } }

.index__header {
  display: flex;
  width: 100%;
  min-height: 750px;
  padding: 2em;
  margin-bottom: 2em;
  flex-direction: column;
  background: transparent url("bg.jpg") no-repeat fixed 50% 50%;
  background-size: cover; }
  .index__header__text {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px; }
  .index__header__button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    animation: fadein 3s ease-in-out; }
  .index__header__title {
    margin-top: 220px;
    font-size: 36px;
    font-family: 'Roboto Slab', serif;
    animation: fadein 1s ease-in-out; }
    @media (max-width: 599px) {
      .index__header__title {
        font-size: 24px; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  .index__header__name {
    font-size: 72px;
    animation: fadein 2s ease-in-out;
    font-family: 'Roboto Slab', serif; }
    @media (max-width: 599px) {
      .index__header__name {
        font-size: 48px; } }

.button__header__later {
  background-color: #666;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 2px;
  cursor: pointer; }
  .button__header__later__text {
    color: white;
    text-decoration: none;
    font-size: 36px; }

.footer {
  max-width: 1200px;
  width: 100%;
  background: #333; }

.footer__row {
  display: flex;
  flex-direction: row;
  border-bottom-color: #666;
  border-bottom-style: solid; }

.footer__down {
  display: flex;
  flex-direction: row; }

.footer__top {
  width: 25%;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 20px; }
  .footer__top__content {
    display: flex;
    flex-direction: column;
    text-align: center; }
  @media (max-width: 400px) {
    .footer__top {
      width: 50%; } }

.footer__hide {
  width: 25%; }
  @media (max-width: 400px) {
    .footer__hide {
      display: none; } }

.footer__bottom {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px; }

.footer__text {
  color: white; }

.footer__bottom__text {
  color: #666; }

.division {
  margin-bottom: 20px;
  margin-top: 10px; }

.info {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
  height: 100%; }

@media (min-width: 1200px) {
  .personu {
    margin-left: 90px; } }

@media (min-width: 1200px) {
  .greidsla {
    margin-right: 90px; } }

.kyn {
  vertical-align: middle; }

.input {
  width: 100%;
  height: 25px; }

input[type="radio"] {
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px; }

.man {
  width: 100px; }
  @media (max-width: 600px) {
    .man {
      width: 70px; } }
  @media (max-width: 400px) {
    .man {
      width: 100px; } }

.gildistimi {
  display: flex;
  justify-content: space-between; }

.kaupa__button {
  display: flex;
  margin: 60px 0px 60px; }

body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5; }

.row__row {
  display: flex;
  margin-bottom: 160px; }
  @media (max-width: 600px) {
    .row__row {
      margin-bottom: 40px; } }

.check__image {
  max-width: 30px;
  margin-right: 10px; }

.text__check {
  margin-top: -20px;
  font-size: 18px; }

img {
  max-width: 100%; }

.profile__image {
  border-radius: 50%;
  margin-top: 80px; }
  @media (min-width: 1200px) {
    .profile__image {
      padding-left: 20px;
      padding-right: 20px; } }

.row__img {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px;
  justify-content: center; }

.profile__review {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 50%;
  align-items: center;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  margin: 20px 0px 20px 0px; }

.profile__about {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .profile__about__name {
    font-weight: bold;
    margin-bottom: 5px; }
  .profile__about__duration {
    font-size: 14px;
    font-weight: bold;
    color: #666; }

.profile__text {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; }

.column {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-right: 10px;
  padding-left: 10px; }
  .column__text {
    margin-top: 200px; }
  .column__button {
    margin-bottom: 100px; }

.button__column {
  background-color: #666;
  padding: 10px 80px 10px 80px;
  margin: 5px;
  border: none;
  border-radius: 2px;
  cursor: pointer; }
  .button__column__text {
    color: white;
    text-decoration: none;
    font-size: 36px; }

/* UMFOO */


.um_foo__header {
  display: flex;
  width: 100%;
  min-height: 470px;
  padding: 2em;
  margin-bottom: 2em;
  flex-direction: column;
  background: transparent url("bg-subpage.jpg") no-repeat 0% 0%;
  background-size: cover;
}

.um_foo__header__title {
  margin: auto 20px auto 20px;
  align-items: center;
  font-family: "Roboto Slab", sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  word-wrap: break-word;
}

.um_foo__content {
  margin: 40px 20px;
}

.um_foo__content p {
  margin: 20px 0;
}

.um_foo__content__title {
  font-family: "Roboto Slab", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.um_foo__content__quote {
  padding-left: 10px;
}

.um_foo__content__quotetext {
  margin: 0;
  font-size: 1.6rem;
  font-style: italic;
}

@media (min-width: 600px) {
  .um_foo__header {
    background-position: 50% 70%;
  }

  .um_foo__content__quote {
    float: right;
    width: 50%;
    margin: 40px;
  }
}
