@charset "UTF-8";
/* setjum box-sizing: border-box; á allt */
html {
  /* stylelint-disable-line */
  box-sizing: border-box; }

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

main {
  max-width: 1200px;
  margin: 0 auto; }

html {
  /* stylelint-disable-line */
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 0;
  font-family: 'Opens sans', sans-serif;
  font-size: 16px; }

.division {
  margin-bottom: 10px;
  margin-top: 10px; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  padding-right: 10px;
  padding-left: 10px; }
  .col-12 {
    width: 100%; }
  .col-8 {
    width: 66.66667%; }
  .col-4 {
    width: 33.33333%; }
  @media (max-width: 599px) {
    .col-sm-12 {
      width: 100%; } }

.grid {
  display: inline-grid; }

.button {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 5px;
  border: 1px solid #666;
  border-radius: 4px;
  width: 100%;
  max-width: 256px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #eee;
  background-color: #666;
  font-family: Lato, helvetica, arial, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  transition: background-color 500ms ease, color 500ms ease;
  cursor: pointer; }
  .button:hover {
    color: #eee;
    background-color: #333; }

.heading {
  font-family: 'Roboto Slab', serif; }
  .heading--2 {
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif; }

.profile {
  width: 360px;
  height: 360px;
  overflow: hidden;
  display: flex;
  margin: 20px;
  border-radius: 50%; }
  .profile__img {
    margin-left: -20px; }

.header__top {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.9);
  position: fixed; }

.header__right {
  display: flex;
  flex-direction: row; }

.header__left {
  width: 100%;
  display: flex; }

.header__text {
  color: white;
  padding: 5px;
  align-self: center;
  text-decoration: none; }

.button__header__text {
  color: white;
  text-decoration: none; }

.button__header {
  background-color: #666;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px; }
  @media (max-width: 400px) {
    .button__header {
      display: none; } }

header {
  max-width: 1200px; }

.footer {
  max-width: 1200px;
  width: 100%;
  background: #333; }

.footer__row {
  display: flex;
  flex-direction: row;
  border-bottom-color: #666;
  border-bottom-style: solid; }

.footer__down {
  display: flex;
  flex-direction: row; }

.footer__top {
  width: 25%;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 20px; }
  .footer__top__content {
    display: flex;
    flex-direction: column;
    text-align: center; }
  @media (max-width: 400px) {
    .footer__top {
      width: 50%; } }

.footer__hide {
  width: 25%; }
  @media (max-width: 400px) {
    .footer__hide {
      display: none; } }

.footer__bottom {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px; }

.footer__text {
  color: white; }

.footer__bottom__text {
  color: #666; }
